<% layout('layouts/boilerplates') %> 
<div class="row mt-3">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
        <h2 class="text-center mb-4"> Welcome back </h2>
        <form action="/login" method="post" novalidate class="form-group">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="username" 
                    id="username" 
                    required
                >
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    id="password" 
                    required
                >
            </div>
            
            <div class="d-grid">
                <button class="btn btn-success">Login</button>
            </div>
        </form>
        
        <script>
        const form = document.querySelector('form');
        
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
        </script>
        
    </div>
</div>
